body{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
   max-width: 1200px;
   min-width: 300px;
   margin: auto;
   padding: auto;
   background-size: 100%;
opacity: 0.9;
 }

 .navbar {
  
    padding: 30px;
}
 

.container {
    background-color: #c3b7fe;
    display: block;
    text-align: center;
    line-height: 50px;

  }
  .text-center {
    text-align: center!important;
    margin-top: 97px;
    padding: 94px 0px 90px 0px;
}
  .bordure {
    font-size: 30px;
  }
  .first {
   color:orange ;
  }
  .blue {
   color:rgb(72, 137, 184) ;
  }
  .green {
   color:rgb(12, 142, 101) ;
  }
  .violet {
   color:blueviolet ;
  }